body{
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-family: Helvetica, sans-serif;
    background-color:#FFCDD2;
  }
  
  h1{
    margin: 150px;
    display: flex;
    color:#7b1fa2;
    font-size: 95px;
    text-align: center;
    font-family: lobster;
  }
  h2{
    text-align: center;
  }
  a{
    color: black;
  }
  
  img{
  width: 700px;
    height: 700px;
    display: flex;
    justify-content: center;
    height: auto;
    margin: auto;
    border-style: hidden;
    background-color: white;
    background-size: 800px;
    border-style: double;
    border-color: #5971a7;
  }
  
  p{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center; 
    font-size: 25px; 
    background-size: 200px;
  }
  
  ul{
    font-family: lobster;
    justify-content: center;
    font-size: 25px;
  }

  .informacion{
     text-align: center;
     font-size: 25px;
     font-family: Arial, Helvetica, sans-serif;
  }

  .info-libro{
          text-align: center;
          font-size: 25px;
          font-family: Arial, Helvetica, sans-serif;
          display: flex;
  }
  .purgatorio{
    margin: 2px;
    display: flex;
    height: 120px;
    width: 150px;
  }